.background{
    text-align: center;
    padding: 0px;


     --background:url(../../assets/images/backdrop5.jpg) no-repeat center center / cover;; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  //background-color: rgb(128, 187, 19);


 
  height: 100px;

}
.text-center{
    text-align: center;
    padding: 0px;

}
.avatar{
    margin: auto;
    top: 10px;
}

a {
    position: absolute;
    right: 4%;
    color:rgb(250, 246, 246);
}

.btn1 {
    position: relative;
    right: 1%;
    width: 40%;

}

.crd {
    height: 45%;
    top:8%;
    --ion-background-color:#eff3eb, 0.5;
    width:40%; // adjust width on your ion-card suitable on your screen
    display:block;
    margin: 0 auto;

    
    
   
    
}
.name{
    height: 20%;
    top:8%;
   
    --ion-background-color:#eff3eb,05;
    width:40%; // adjust width on your ion-card suitable on your screen
    display:inline-block;
    margin: 0 auto;

    
    
    
 
}

.deets{
   margin-top: auto;
}


.ion-padding{
    left: 100%;
    width: 40%;
  align-items: center;
  display:inline-block;
}
 
.header{
    top:8%;
    width: 40%;
  align-items: center;
  display:inline-block;
}