.center {
    text-align: center;
}

ion-content.backgrond
{

  --background:url(../../assets/images/backdrop5.jpg) no-repeat center center / cover;; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  //background-color: rgb(128, 187, 19);


 
  height: 100px;
}