<ion-content class="backgrond">

<ion-header>
 
  <ion-toolbar color="primary">
    <ion-title>forgot-password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="Login"></ion-back-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<div>
  <img class="" alt=" " width="150"  height="150" src="../../assets/images/logo-icon.png"></a>
</div>


  <form>
    
    <ion-item lines="full">
      <ion-label class="center" position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
  
    <ion-row>
      <ion-col >
        <ion-button type="submit" color="danger" expand="block">Send</ion-button>
      </ion-col>
    </ion-row>

    <small>
      Please email address that you used when you signed
      up for your account.
    </small>
  
  </form>


</ion-content>
